*{
    background-color: #e7e0ed;
    margin: 25px;
}

h1{
    font-size: 54px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 70px;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 0px 300px;
    text-align: justify;
}
.rombo {
    width: 35px;
    height: 35px;
    background-color: #c9b6ed; 
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 10px;
}